body {
  line-height: 1.6;
  color: $gray-darker;
}

a {
  color: $theme-primary;
  font-weight: bold;
  font-size: 1em;
  padding: 2px 5px;
  border-radius: 15px;
}

a:hover {
  color: white;
  background-color: $theme-primary;
}

body#page-top {
  background: $white !important;
}

.pusher {
  margin: 0 15px;
  padding-top: 30px;
}

.mute {
  color: $theme-primary;
}

#grid-box {
  @include background-cover;
  display: grid;
  place-items: center;
  padding: 0 !important;
  min-height: 100vh;
  margin: 50px 0 0 0;
  background-color: $white;

  #about {
    h2 {
      @include heading-font;
      text-transform: uppercase;
      margin-top: 10px;
      font-size: 3em;
      font-weight: bold;

      span {
        font-weight: 700;
        font-size: 1.2em;
        color: $theme-tertiary;
      }
    }
    .blurb {
      margin: 0 auto;
      margin-bottom: 20px;
      text-align: justify;
      max-width: 515px;
    }
    .contact {
      @include heading-font;
      display: grid;
      grid-template-columns: 1fr 1fr;
      // background-color: $gray-light;
      padding: 5px;
      max-width: 500px;
      margin: 15px auto;
      text-align: center;
      white-space: nowrap;
    }
    .grid {
      @include heading-font;
      background-color: $gray-light;
      padding: 15px;
      margin: 0 auto;
      max-width: 500px;
      display: grid;
      grid-template-columns: 2fr 4fr;
      grid-gap: 5px 15px;
      margin-bottom: 15px;
      .header {
        font-weight: bold;
        text-align: right;
      }

      .content {
        text-align: center;
      }
    }
  }

  .container {
    display: grid;
    grid-template-columns: minmax(auto, 920px);
    grid-template-rows: auto 7px;
    height: 100%;
    place-items: start;
    margin-top: 155px;

    .mosaic {
      align-self: stretch;
      display: grid;
      grid-gap: 25px;
      grid-template-columns: 1fr 1fr;
      grid-auto-rows: 55px;

      .fat-item:first-child {
        align-self: end;
        grid-row: span 1;
      }

      .fat-item {
        display: grid;
        grid-column: span 2;
        grid-row: span 2;
        height: 80px;
        align-self: end;
        place-items: center;
        color: $gray-dark;
        border: 2px solid $gray-light;
        h2 {
          @include heading-font;
          font-weight: bold;
          text-transform: uppercase;
          font-size: 1.2em;
        }
      }

      .mosaic-item {
        position: relative;
        background-color: $gray-light;
        min-height: 100px;
        padding: 15px;
        text-align: left;
        overflow: hidden;
        grid-row: span 2;

        .item-title {
          @include heading-font;
          display: grid;
          grid-template-columns: 2fr 1fr;
          justify-items: start;
          align-items: start;
          margin-bottom: 15px;
          font-weight: bold;
          text-transform: uppercase;
          div:first-child {
            color: $theme-tertiary;
          }
          div:nth-child(even) {
            justify-self: end;
            font-size: 12px;
            white-space: nowrap;
            color: $gray-base;
          }
          div.full {
            grid-column: span 2;
            justify-self: start;
          }
        }

        .item-content {
          position: relative;
          max-height: 250px;
          overflow: hidden;
          color: $gray-darker;

          .overlay {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-image: linear-gradient(
              rgba(242, 242, 242, 0.5),
              $gray-light
            );
          }

          ul {
            li {
              margin-bottom: 10px;
            }
          }
        }

        .expand-btn {
          position: absolute;
          bottom: 15px;
          right: 15px;
          text-align: right;
          cursor: pointer;
          color: $theme-tertiary;
          padding: 2px 5px 2px 10px;
          border-radius: 15px;
          text-transform: lowercase;
          font-size: 0.9em;
        }
        .expand-btn:hover {
          color: white;
          background-color: $theme-tertiary;
        }
      }

      .mosaic-item.tall-item {
        grid-row: span 5;
      }
    }

    @media (max-width: 425px) {
      .mosaic {
        grid-template-columns: 1fr;

        .fat-item {
          grid-column: span 1;
        }
      }
    }
  }
}

footer {
  color: $gray-dark;
  width: 100%;
  text-align: center;
  padding-bottom: 55px;
}

@media (max-width: 364px) {
  #grid-box {
    font-size: 11px !important;
  }
}

@media (min-width: 1440px) {
  #grid-box {
    font-size: 18px;
    #about {
      .blurb {
        max-width: 720px;
      }
    }
    .container {
      grid-template-columns: minmax(auto, 1080px);
    }
  }
}

@media (min-width: 2000px) {
  #grid-box {
    font-size: 24px;
    #about {
      .blurb {
        max-width: 920px;
      }
    }
    .container {
      grid-template-columns: minmax(auto, 1440px);
    }
  }
}
