html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Muli", "Helvetica", "Arial", "sans-serif";
}

a {
  color: #f4a142;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}

a:hover, a:focus {
  color: #f18912;
}

hr {
  max-width: 100px;
  margin: 25px auto 0;
  border-width: 1px;
  border-color: rgba(85, 85, 85, 0.1);
}

hr.light {
  border-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Catamaran", "Helvetica", "Arial", "sans-serif";
  font-weight: 200;
  letter-spacing: 1px;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

section {
  padding: 100px 0;
}

section h2 {
  font-size: 50px;
}

#nav-bar {
  background-color: white;
  border: none;
  box-shadow: 0 5px 5px rgba(85, 85, 85, 0.1);
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  font-family: "Catamaran", "Helvetica", "Arial", "sans-serif";
  font-weight: 200;
  letter-spacing: 1px;
}

#nav-bar .navbar-brand {
  color: #f4a142;
  font-family: "Catamaran", "Helvetica", "Arial", "sans-serif";
  font-weight: 200;
  letter-spacing: 1px;
}

#nav-bar .navbar-brand:hover, #nav-bar .navbar-brand:focus {
  color: #f18912;
}

#nav-bar .navbar-toggler {
  font-size: 12px;
  padding: 8px 10px;
  color: #555;
}

#nav-bar .navbar-nav > li > a {
  font-size: 11px;
  font-family: "Lato", "Helvetica", "Arial", "sans-serif";
  letter-spacing: 2px;
  text-transform: uppercase;
}

#nav-bar .navbar-nav > li > a.active {
  color: #f4a142 !important;
  background-color: transparent;
}

#nav-bar .navbar-nav > li > a.active:hover {
  background-color: transparent;
}

#nav-bar .navbar-nav > li > a,
#nav-bar .navbar-nav > li > a:focus {
  color: #555;
}

#nav-bar .navbar-nav > li > a:hover,
#nav-bar .navbar-nav > li > a:focus:hover {
  color: #f4a142;
}

@media (min-width: 992px) {
  #nav-bar .navbar-brand {
    color: fade(white, 70%);
  }
  #nav-bar .navbar-brand:hover, #nav-bar .navbar-brand:focus {
    color: white;
  }
  #nav-bar .navbar-nav > li > a,
  #nav-bar .navbar-nav > li > a:focus {
    color: rgba(255, 255, 255, 0.7);
  }
  #nav-bar .navbar-nav > li > a:hover,
  #nav-bar .navbar-nav > li > a:focus:hover {
    color: white;
  }
  #nav-bar.navbar-shrink {
    background-color: white;
  }
  #nav-bar.navbar-shrink .navbar-brand {
    color: #555;
  }
  #nav-bar.navbar-shrink .navbar-brand:hover, #nav-bar.navbar-shrink .navbar-brand:focus {
    color: #f4a142;
  }
  #nav-bar.navbar-shrink .navbar-nav > li > a,
  #nav-bar.navbar-shrink .navbar-nav > li > a:focus {
    color: #555;
  }
  #nav-bar.navbar-shrink .navbar-nav > li > a:hover,
  #nav-bar.navbar-shrink .navbar-nav > li > a:focus:hover {
    color: #f4a142;
  }
}

.bg-primary {
  background: #f4a142;
  background: -webkit-linear-gradient(#f4a142, #f3952a);
  background: linear-gradient(#f4a142, #f3952a);
}

.text-primary {
  color: #f4a142;
}

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

.btn-outline {
  color: white;
  border: 1px solid;
  border-color: white;
}

.btn-outline:hover, .btn-outline:focus, .btn-outline:active, .btn-outline.active {
  color: white;
  border-color: #f4a142;
  background-color: #f4a142;
}

.btn {
  border-radius: 300px;
  font-family: "Lato", "Helvetica", "Arial", "sans-serif";
  letter-spacing: 2px;
  text-transform: uppercase;
}

.btn-xl {
  font-size: 11px;
  padding: 15px 45px;
}

body {
  line-height: 1.6;
  color: #555;
}

a {
  color: #f4a142;
  font-weight: bold;
  font-size: 1em;
  padding: 2px 5px;
  border-radius: 15px;
}

a:hover {
  color: white;
  background-color: #f4a142;
}

body#page-top {
  background: white !important;
}

.pusher {
  margin: 0 15px;
  padding-top: 30px;
}

.mute {
  color: #f4a142;
}

#grid-box {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: grid;
  place-items: center;
  padding: 0 !important;
  min-height: 100vh;
  margin: 50px 0 0 0;
  background-color: white;
}

#grid-box #about h2 {
  font-family: "Catamaran", "Helvetica", "Arial", "sans-serif";
  font-weight: 200;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 10px;
  font-size: 3em;
  font-weight: bold;
}

#grid-box #about h2 span {
  font-weight: 700;
  font-size: 1.2em;
  color: #456990;
}

#grid-box #about .blurb {
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: justify;
  max-width: 515px;
}

#grid-box #about .contact {
  font-family: "Catamaran", "Helvetica", "Arial", "sans-serif";
  font-weight: 200;
  letter-spacing: 1px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 5px;
  max-width: 500px;
  margin: 15px auto;
  text-align: center;
  white-space: nowrap;
}

#grid-box #about .grid {
  font-family: "Catamaran", "Helvetica", "Arial", "sans-serif";
  font-weight: 200;
  letter-spacing: 1px;
  background-color: #f2f2f2;
  padding: 15px;
  margin: 0 auto;
  max-width: 500px;
  display: grid;
  grid-template-columns: 2fr 4fr;
  grid-gap: 5px 15px;
  margin-bottom: 15px;
}

#grid-box #about .grid .header {
  font-weight: bold;
  text-align: right;
}

#grid-box #about .grid .content {
  text-align: center;
}

#grid-box .container {
  display: grid;
  grid-template-columns: minmax(auto, 920px);
  grid-template-rows: auto 7px;
  height: 100%;
  place-items: start;
  margin-top: 155px;
}

#grid-box .container .mosaic {
  align-self: stretch;
  display: grid;
  grid-gap: 25px;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 55px;
}

#grid-box .container .mosaic .fat-item:first-child {
  align-self: end;
  grid-row: span 1;
}

#grid-box .container .mosaic .fat-item {
  display: grid;
  grid-column: span 2;
  grid-row: span 2;
  height: 80px;
  align-self: end;
  place-items: center;
  color: #cccccc;
  border: 2px solid #f2f2f2;
}

#grid-box .container .mosaic .fat-item h2 {
  font-family: "Catamaran", "Helvetica", "Arial", "sans-serif";
  font-weight: 200;
  letter-spacing: 1px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.2em;
}

#grid-box .container .mosaic .mosaic-item {
  position: relative;
  background-color: #f2f2f2;
  min-height: 100px;
  padding: 15px;
  text-align: left;
  overflow: hidden;
  grid-row: span 2;
}

#grid-box .container .mosaic .mosaic-item .item-title {
  font-family: "Catamaran", "Helvetica", "Arial", "sans-serif";
  font-weight: 200;
  letter-spacing: 1px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-items: start;
  align-items: start;
  margin-bottom: 15px;
  font-weight: bold;
  text-transform: uppercase;
}

#grid-box .container .mosaic .mosaic-item .item-title div:first-child {
  color: #456990;
}

#grid-box .container .mosaic .mosaic-item .item-title div:nth-child(even) {
  justify-self: end;
  font-size: 12px;
  white-space: nowrap;
  color: #999;
}

#grid-box .container .mosaic .mosaic-item .item-title div.full {
  grid-column: span 2;
  justify-self: start;
}

#grid-box .container .mosaic .mosaic-item .item-content {
  position: relative;
  max-height: 250px;
  overflow: hidden;
  color: #555;
}

#grid-box .container .mosaic .mosaic-item .item-content .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(rgba(242, 242, 242, 0.5), #f2f2f2);
}

#grid-box .container .mosaic .mosaic-item .item-content ul li {
  margin-bottom: 10px;
}

#grid-box .container .mosaic .mosaic-item .expand-btn {
  position: absolute;
  bottom: 15px;
  right: 15px;
  text-align: right;
  cursor: pointer;
  color: #456990;
  padding: 2px 5px 2px 10px;
  border-radius: 15px;
  text-transform: lowercase;
  font-size: 0.9em;
}

#grid-box .container .mosaic .mosaic-item .expand-btn:hover {
  color: white;
  background-color: #456990;
}

#grid-box .container .mosaic .mosaic-item.tall-item {
  grid-row: span 5;
}

@media (max-width: 425px) {
  #grid-box .container .mosaic {
    grid-template-columns: 1fr;
  }
  #grid-box .container .mosaic .fat-item {
    grid-column: span 1;
  }
}

footer {
  color: #cccccc;
  width: 100%;
  text-align: center;
  padding-bottom: 55px;
}

@media (max-width: 364px) {
  #grid-box {
    font-size: 11px !important;
  }
}

@media (min-width: 1440px) {
  #grid-box {
    font-size: 18px;
  }
  #grid-box #about .blurb {
    max-width: 720px;
  }
  #grid-box .container {
    grid-template-columns: minmax(auto, 1080px);
  }
}

@media (min-width: 2000px) {
  #grid-box {
    font-size: 24px;
  }
  #grid-box #about .blurb {
    max-width: 920px;
  }
  #grid-box .container {
    grid-template-columns: minmax(auto, 1440px);
  }
}
